@model List<Randevu>

<h1>Randevu Index</h1>


<div class="row">
	
<div class="container">

	<div class="row pt-3 pb-4">
		<h3><strong>Randevu Listesi</strong></h3>
	</div>


		<table class="table table-bordered"

	<tr>

		<thead>

				<th>
					Id
				</th>

				<th>
					Hasta Adı
				</th>

				<th>
					Doktor Adı 
				</th>

				<th>
					Polikinlik Adresi
				</th>

				<th>
					Randevu Tarihi
				</th>

				<th>
					Açıklama
				</th>

				<th>
						@* guncelle *@
				</th>

				<th>
						@* sil *@
				</th>
		</thead>
		<tbody>
					@foreach (var randevu in Model)
					{
							<tr>

								<th>
								@randevu.Id
								</th>

								<th>
								@randevu.Hasta.Ad
								</th>

								<th>
								@randevu.Doktor.Ad
								</th>

								<th>
								@randevu.Polikinlik.Adres
								</th>

								<th>
								@randevu.Tarih
								</th>

								<th>
								@randevu.Aciklama
								</th>

								

								<th>
									<a asp-controller="Hasta" asp-action="Guncelle" asp-route-id=@randevu.Id class="btn btn-outline-success">Güncelle</a>

								</th>




								<th>
									<a asp-controller="Hasta" asp-action="Sil" asp-route-id="@randevu.Id" class="btn btn-outline-primary">Sİl</a>

								</th>


							</tr>

					}
		</tbody>



	</tr>


</table>

	
</div>


</div>


