@model List<Polikinlik>


@if (@TempData["basarili"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Tebrikler!</strong> <a href="#" class="alert-link">@TempData["basarili"]</a>.
    </div>
}
<h1>Polikinlikler</h1>

<table class="table table-bordered">

	<tr>

		<thead>
				

				<th>
					Id
				</th>

				<th>
					Polikinlik
				</th>

				<th>
					Adres
				</th>


				<th>
				@* guncelle *@
				</th>

				<th>
				@* sil *@
				</th>
		</thead>
		<tbody>
			@foreach (var polikinlik in Model)
			{
					<tr>
								

								<th>
						@polikinlik.Id
								</th>

								<th>
						@polikinlik.Ad
								</th>

								<th>
						@polikinlik.Adres
								</th>

							

								<th align="center" valign="middle">
									<a asp-controller="Polikinlik" asp-action="Guncelle" style="width:fit-content" asp-route-id=@polikinlik.Id class="btn btn-outline-success">Güncelle</a>

								</th>




								<th align="center" valign="middle">
										<a asp-controller="Polikinlik" asp-action="Sil"   style="width:fit-content" asp-route-id="@polikinlik.Id" class="btn btn-outline-primary">Sİl</a>

								</th>


					</tr>

			}
		</tbody>



	</tr>


</table>


<div class="row pt-3 pb-2">

	<div>
		<div class="d-grid gap-2">
			<a asp-controller="Polikinlik" asp-action="Ekle" class="btn btn-lg btn-outline-primary" type="button">Yeni Polikinlik Ekle</a>
		</div>

	</div>


</div>
