@model List<Doktor>
<h1>Doktorlar Sayfasi</h1>

@if (@TempData["basarili"]!=null)
{
	<div class="alert alert-dismissible alert-success">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Tebrikler!</strong> <a href="#" class="alert-link">@TempData["basarili"]</a>.
	</div>
}

<div class="container">

	<div class="row pt-3 pb-4">

		<h3><strong>Doktorlar Listesi</strong></h3>

	</div>

	<table class="table table-bordered"

	<tr>

		<thead>
				<th>
					Resim
				</th>

				<th>
					Id
				</th>

				<th>
					Ad
				</th>

				<th>
					Soyad
				</th>

				<th>
					Alan
				</th>

				<th>
					@* guncelle *@
				</th>

				<th>
					@* ekle *@
				</th>
		</thead>
		<tbody>
				@foreach (var doktor in Model)
				{
						<tr>


							<td align="center" valign="middle">

						<img src="@doktor.ResimURL"  style="border-radius:7px; border:1px solid; max-width:145px; max:275px;" />

						</td>

							<th>
							@doktor.Id
							</th>

							<th>
							@doktor.Ad
							</th>

							<th>
							@doktor.Soyad
							</th>

							<th>
							@doktor.Alan
							</th>

							<th align="center" valign="middle">
								<a asp-controller="Doktor" asp-action="EkleGuncelle" style="width:fit-content" asp-route-id=@doktor.Id class="btn btn-outline-success">Güncelle</a>

							</th>


							

							<th align="center" valign="middle">
									<a asp-controller="Doktor" asp-action="Sil"   style="width:fit-content" asp-route-id="@doktor.Id" class="btn btn-outline-primary">Sİl</a>
								
							</th>


						</tr>

				}
		</tbody>



	</tr>


</table>



	<div class="row pt-3 pb-2">

		<div>
			<div class="d-grid gap-2">
				<a asp-controller="Doktor" asp-action="EkleGuncelle" class="btn btn-lg btn-outline-primary" type="button"> Doktor Ekle  </a>
			</div>

		</div>


	</div>

</div>




